{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trackerapp</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>{% block title %} TodoApp {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'TodoApp/styles/base.css' %}"/>

    {% block css_site %}{% endblock %}
</head>
<body>
    <header>
        <nav><a href="/TodoProject">Todo Project</a></nav>
        <h1>{% block main_heading %}{% endblock %}</h1>
        {% block main_content %}{% endblock %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>