{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'CSS/expense.css' %}" />
    <meta name="csrf-token" content="{% csrf_token %}" />
</head>

<body>
    <div class="sidebar">
        <h2>ExTracker</h2>
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#income"><i class="fa fa-fw fa-hand-holding-usd"></i>Income</a>
        <a href="#report"><i class="fa fa-fw fa-file-alt"></i>Report</a>
        <a href="/expense"><i class="fa fa-fw fa-cash-register"></i>Expense</a>
        <a href="#categories"><i class="fa fa-fw fa-list-alt"></i>Categories</a>
        <!-- <a href="/login"><i class="fa fa-fw fa-sign-out-alt"></i>Login</a> -->
        <a href="/login" id="auth-link"><i class="fa fa-fw fa-sign-out-alt"></i><span id="auth-text">Login</span></a>
    </div>
    <div id="expense">
        <h1>New expense</h1>
        <hr>
        <form id="expense-form">
            {% csrf_token %}
            
            <label for="date">Date</label>
            <input id="date" type="date">
            
            <label for="category">Category</label>
            <select id="category" ></select>

            <label for="price">Price</label>
            <input id="price" type="number" required placeholder="0.00">
            
            <label for="income">Income-Source</label>
            <select id="income" ></select>

            <label for="description">Description</label>
            <textarea id="description" type="text" rows="5" cols="30"></textarea>
            
            <button id="submit">Add Expense</button>
        </form>
    </div>
    <script src="{% static 'js/expense.js' %}"></script>
</body>

</html>