{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExTrackerapp</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="dashboard">
        <aside class="sidenav">
            <div class="app-name">ExTracker</div>
            <div class="welcome-message" id="username-display">Welcome</div>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-file-alt"></i>Report</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i>Settings</a></li>
                    <li><a href="/login" id="auth-link"><i class="fa fa-fw fa-sign-out-alt"></i><span id="auth-text"></span> / Login</span></a></li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <div class="header">
                <h3>Dashboard</h3>
            </div>
            <section class="summary-section">
                <div class="summary-box">
                    <h3 style="color: green;">Total Income</h3>
                    <p id="total-income">$0</p>
                </div>
                <div class="summary-box">
                    <h3 style="color: red;">Total Expenses</h3>
                    <p id="total-expenses">$0</p>
                </div>
                <div class="summary-box">
                    <h3 style="color: purple;">Balance</h3>
                    <p>$450</p>
                </div>
                <div class="summary-box">
                    <h3 style="color: blue;">Total Transactions</h3>
                    <p>50</p>
                </div>
            </section>
            <section class="actions-section">
                <div class="top">
                    <h3>Easy Access</h3>
                    <hr>
                </div>
                <div class="bottom">
                    <div class="action-box">
                        <a href="/expense"><i class="fa fa-fw fa-plus"></i>Add New Expense</a>
                    </div>
                    <div class="action-box">
                        <a href="/income"><i class="fa fa-fw fa-plus"></i>Add New income</a>
                    </div>
                    <div class="action-box">
                        <a href="/report"><i class="fa fa-fw fa-plus"></i>Add Report</a>
                    </div>
                </div>
            </section>
            <section class="expense-section">
                <h3>Expenses</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="expenses-tbody">
                        
                    </tbody>
                </table>
            </section>
            <section class="chart-section">
                <canvas id="myChart"></canvas>
                 <!-- Placeholder for Not Logged In message -->
                <div id="not-logged-in-message" style="display: none; color: red; text-align: center; font-size: 1.5em">
                    Not logged in. Please log in to view your data.
                </div>
            </section>
        </main>
    </div>    
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>