<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="C:\Users\PMISHEKWO PATIENCE P\Desktop\Django Project\ExpenseTracker\Trackerapp\static\CSS\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
        <form action="">
            <h1>Welcome Back</h1>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <input class="form-control" id="Username" type="text" placeholder="Username" required="required" data-validation-required-message="Please enter your name.">      
            </div>

            <div class="form-group">
                <i class="fas fa-user"></i>
                <input class="form-control" type="password" placeholder="Password" required="required"
                data-validation-required-message="Please enter valid password"> 
            </div>
                <button class="login-btn" type="submit">Log in</button>
            
    </div>
</body>
</html>
