<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setings</title>
</head>
<body>
    <div id="settings-title">
        <h1>Settings</h1>
        <hr>
    </div>  
    <div id="gen-settings">
        <h1> General </h1>
    </div>   
    <div id="sec-settings">
        <h1> Security </h1>
    </div>  
    <div id="app-settings">
        <h1> Appearance</h1>
    </div>   
    <div id="help-settings">
        <h1> Help and Support </h1>
    </div>    
</body>
</html>